	<div class="item">
		<!-- 日期分类 -->
		<div class="mark" ng-show="loaded">{{date|date:'MM-dd HH:mm:ss'}}</div>
		<ul class="posts large">
			<!-- 文章 -->
			<h1>笑话</h1>
			<li ng-repeat="post in posts">
				<span href="javascript:;" class="tag" ng-if="post.column.name">sdsdgs</span>
				<div class="cont">
					<div class="brief">
						<p>{{post.content}}</p>
						
						<!--<div class="thumb" ng-if="post.display_style == 10002">
							<img ng-src="{{post.thumbs[0].small.url}}" alt="">
						</div>-->
						
						<!--<div class="gallery" ng-if="post.display_style == 10003">
							<img ng-src="post." alt="">
						</div>-->
					</div>							
				</div>
			</li>
		</ul>
	</div>